<div class='page-header'>
  <h2>
    Edit Contact
  </h2>

  <%= render partial: 'admin/contacts/contact_nav' %>
</div>

<% if phone_numbers.any? %>
  <table class='table table-striped table-hover phone-numbers-table'>
    <colgroup>
      <col width="120"></col>
      <col width="200"></col>
      <col width="*"></col>
      <col width="150"></col>
      <col width="160"></col>
    </colgroup>
    <thead>
      <tr>
        <th>Phone Number</th>
        <th>Title</th>
        <th>Description</th>
        <th>Open Hours</th>
        <th>
          <%= link_to "+ Add phone number", new_admin_contact_phone_number_path(contact), class: 'btn btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render phone_numbers %>
    </tbody>
  </table>
<% else %>
  <h4>No phone numbers found</h4>
  <p>
    We have found no phone numbers.
    <%= link_to "You should add one.", new_admin_contact_phone_number_path(contact) %>
  </p>
<% end %>
