<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>New Phone Number for <%= @contact %></h2>

      <%= render partial: 'admin/contacts/contact_nav', locals: { contact: @contact } %>
    </div>

    <%= render partial: 'form', locals: { contact: @contact, phone_number: @phone_number } %>
  </div>
</div>
