<div class='page-header'>
  <h2>Edit More Info Website Record</h2>
</div>

<%= simple_form_for @more_info_record, url: admin_contact_record_more_info_website_path(contact_record) do |more_info_record_form| %>
  <%= render partial: 'fields', locals: { more_info_record_form: more_info_record_form } %>
<% end %>
