<div class='page-header'>
  <h2>
    Websites for Contact Records
    <small>(<%= websites.count %>)</small>
  </h2>
 </div>

<% if websites.any? %>
  <table class='table table-bordered table-striped table-hover websites-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>
          <%= link_to "New Website", new_admin_contact_record_website_path(contact_record), class: 'btn btn-small' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render websites %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-block alert-info'>
    <h4>No websites found</h4>
    <p>
      We have found no websites.
      <%= link_to "Add one?", new_admin_contact_record_website_path(contact_record), class: 'btn btn-small' %>
    </p>
  </div>
<% end %>
