<tr>
  <td class="break-link"><%= mail_to email_address.email %></td>
  <td>
    <%= link_to email_address.title, edit_admin_contact_email_address_path(contact, email_address) %>
  </td>
  <td><%= email_address.description %></td>
  <td class="text-right">
    <small>
      <%= link_to 'Edit', edit_admin_contact_email_address_path(contact, email_address) %>
    </small>
  </td>
</tr>
