<div class="row">
  <div class="span12">
    <div class='page-header'>
      <h2>New Email Address for Contact</h2>
    </div>

    <%= render partial: 'form', locals: { contact: contact, email_address: email_address } %>
  </div>
</div>