<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>New Email Address for <%= @contact %></h2>

      <%= render 'admin/contacts/contact_nav', contact: @contact %>
    </div>

    <%= render 'form', contact: @contact, email_address: @email_address %>
  </div>
</div>
