<tr>
  <td><%= vcard_for_post_address(post_address) %></td>
  <td><%= govspeak post_address.description %></td>
  <td class="text-right">
    <small>
      <%= link_to 'Edit', edit_admin_contact_post_address_path(contact, post_address) %>
    </small>
  </td>
</tr>
