<div class="row">
  <div class="span12">
    <div class='page-header'>
      <h2>
        Edit Post Address for Contact
        <%= link_to 'Delete', admin_contact_post_address_path(contact, post_address), method: :delete, data: { confirm: 'Are you sure?' }, data: { disable: 'Working' }, class: 'btn btn-small text-red pull-right' %>
      </h2>
    </div>

    <%= render partial: 'form', locals: { contact: contact, post_address: post_address } %>
  </div>
</div>