<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>New Post Address for <%= contact %></h2>

      <%= render partial: 'admin/contacts/contact_nav' %>
    </div>

    <%= render partial: 'form', locals: { contact: contact, post_address: post_address } %>
  </div>
</div>