.contact_list-page {
  .hmrc-search {
    margin-bottom: $gutter;
  }

  .organisations-index .page-header {
    width: auto;

    .label input {
      width: 50%;
    }
  }

  .heading-block {
    clear: both;
    margin-bottom: $gutter*2;

    .type-heading h1 {
      padding-top: 17px;
      width: 80%;
    }

    .content {
      @include media(tablet) {
        width: 64.6%;
      }

      h2 {
        a {
          font-size: 18px;
          line-height: 1.11111111111;
          padding: 3px 0 2px 0;
        }
      }

      p {
        @include copy-16;
        clear: both;
        float: left;
        min-width: 18em;
      }

      a {
        color: $hm-revenue-customs-websafe;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .organisations-box {
      h3 {
        @include copy-16;
        border-bottom: none;
      }

      p {
        float: none;
        @include copy-14;
      }

      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey-2;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border: none;
        }
      }
    }
  }

  .most-popular .heading-block .content h2 a {
    color: $black;
  }
}