.details-page {
  .page-header {
    margin-bottom: $gutter;

    @media (max-width: 800px) {
      margin-bottom: 0;

      div {
        margin: 0;
      }
    }

    @media (max-width: 640px) {
      div {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: $gutter-one-sixth;
      }
    }
  }

  .block-container {
    border-bottom: 1px solid $grey-2;
    padding-bottom: $gutter;
    margin-bottom: $gutter;

    &:last-child,
    &.last {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    h3 {
      @include ig-core-24;
      font-weight: bold;
    }
  }

  .block-container-last {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .block-contact {
    .block-1 {
      width: $one-quarter;

      h3 {
        @media (max-width: 768px) {
          margin-bottom: $gutter-two-thirds;
        }

        @media (max-width: 640px) {
          margin-bottom: $gutter-one-third;
          font-size: 19px;
        }
      }
    }

    .block-2 {
      width: $three-quarters;
    }

    .block-1,
    .block-2 {
      @media (max-width: 768px) {
        width: $full-width;
      }
    }
  }

  .related,
  .contact-links {
    font-weight: bold;
  }

  .related {
    top: 0;
    right: 0;
    margin-bottom: $gutter-half;
    border-top: 0;

    @media (max-width: 800px) {
      &.pull-right {
        float: none;
        width: $full-width;
        margin-top: 0;
      }
    }

    @media (max-width: 640px) {
      margin-top: 0;
    }

    h3 {
      @include core-19;
      font-weight: bold;
    }
  }

  .contact-links {
    @media (max-width: 800px) {
      margin-bottom: $gutter;
    }
  }

  .contact-intro {
    .block-1,
    .block-2 {
      @media (max-width: 800px) {
        float: none;
        width: $full-width;
      }
    }
  }

  .quick-answer {
    p {
      @include ig-core-24;
    }

    h1 {
      font-size: 53px;
      line-height: 1.03774;
      font-weight: bold;

      @media (min-width: 769px) {
        font-size: 68px;
        line-height: 1.47059;
      }
    }
  }

  .quick-links {
    margin-bottom: $gutter;

    @media (max-width: 640px) {
      margin-bottom: 0;
    }

    li {
      float: left;
      width: $one-half;

      @media (max-width: 640px) {
        float: none;
        width: $full-width;
        margin-bottom: $gutter-two-thirds;
      }

      a,
      p {
        margin-right: $gutter-half;
      }

      a {
        @include ig-core-24;
        font-weight: bold;
      }
    }
  }

  .online-transaction {
    padding-top: $gutter-half;
    padding-bottom: $gutter*1.5;

    p {
      padding-top: $gutter-one-sixth;
      @include ig-core-24;
    }
  }

  .get-started {
    margin-top: $gutter-one-third;

    @media (min-width: 769px) {
      margin: 0;
    }
  }

  .online-contact {
    padding-bottom: $gutter*1.5;
    @include core-19;
    font-weight: bold;

    li {
      margin-bottom: 5px;
    }
  }

  .phone-list {
    .tel {
      float: left;
      width: $one-third;
      padding-bottom: $gutter;

      @media (max-width: 640px) {
        float: none;
        width: $full-width;
        margin-bottom: $gutter-one-third;
      }

      span.type {
        @include core-19;
      }

      span.value {
        display: block;
        @include ig-core-24;
        font-weight: bold;

        a {
          color: inherit;
        }

        @media (max-width: 640px) {
          padding: 0;
        }
      }
    }
  }

  .online-contact .useful-links {
    p {
      @include core-16;
      margin-bottom: $gutter;
    }

    li {
      p {
        @include ig-core-14;
        display: block;
        padding-top: 0;
        margin-bottom: $gutter-one-third;
      }

      &:last-child p {
        margin-bottom: 0;
      }
    }
  }

  .online-contact .email {
    p {
      @include core-16;
      margin-bottom: $gutter;

      strong {
        font-weight: bold;
      }

      .email-description {
        @include ig-core-14;
        display: block;
      }
    }

    li {
      margin-bottom: $gutter-two-thirds;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .phone-number {
    margin-bottom: $gutter*2;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      @include ig-core-14;
      padding: 0;

      @media (max-width: 640px) {
        line-height: 1.7;
      }
    }

    .note {
      margin-top: $gutter;
    }
  }

  .address {
    @include core-19;

    p {
      margin-bottom: $gutter;
    }

    .adr {
      margin-top: $gutter-half;
      margin-bottom: $gutter*2;
    }

    &:last-child .adr,
    .vcard p {
      margin-bottom: 0;
    }
  }

  .pagination {
    border: none;

    li a {
      &:before {
        background-image: image-url('arrow-sprite-hmrc.png');
      }

      @include ie-lte(7) {
        background: image-url('arrow-sprite-hmrc.png') no-repeat right top;
      }
    }
  }
}