.landing-page {
  .hmrc-search {
    .page-header {
      @media (max-width: 641px) {
        margin-top: $gutter-half;
      }
    }

    .main {
      @media (min-width: 769px) {
        padding-bottom: $gutter;
      }
    }

    p {
      @include copy-19;
      margin-bottom: $gutter-half;
    }
  }

  #commonly-asked-questions {
    .section-divider {
      margin-top: $gutter*2;
      padding-top: $gutter*1.5;
      border-color: $black;
      border-top-width: 5px;
      border-top-style: solid;

      @media (max-width: 641px) {
        margin-top: $gutter*1.5;
        margin-bottom: $gutter-one-third;
        padding-top: $gutter;
      }
    }

    h2 {
      @include heading-27;
      font-weight: bold;
      margin-bottom: $gutter;

      > span {
        margin-right: $gutter-half;
      }

      .input {
        display: inline;
      }
    }

    ul.common-sections {
      display: none;
      list-style: none;
      @include copy-19;

      li {
        margin-bottom: $gutter-one-third;

        a {
          color: $black;
        }

        &.search-more {
          margin-top: $gutter;

          a {
            color: $hm-revenue-customs-websafe;
          }
        }
      }
    }

    ul.common-sections-active {
      display: block;
    }

    select {
      width: auto;
      max-width: 100%;
      margin: $gutter-one-third 0;
    }

    .chosen-container {
      width: auto !important;
      min-width: 280px;
      margin: $gutter-one-third 0;

      .chosen-search input {
        background: #fff;

      }

      ul,
      .chosen-single span,
      .chosen-search input {
        @include copy-16;
      }

      li {
        line-height: 1.3333333333;

        &.highlighted {
          background: $hm-revenue-customs;
        }

        &.group-result {
          margin-top: 10px;
          color: $grey-1;

          &:first-child{
            margin-top: 0;
          }
        }
      }

      .chosen-single {
        height: 28px;
        padding-left: 12px;
        @include box-shadow(none);
        @include gradient(#fff, #e5e5e5);

        span {
          padding-top: 7px;
          font-weight: bold;
        }

        div b {
          margin-top: -4px;
          background-image: image-url("chosen-arrows.png");
          background-position: 0px 17px;
        }


        @media (min-width: 640px) {
          height: 36px;

          span {
            padding-top: 10px;
          }

          div b{
            margin-top: 0px;
          }
        }
      }
    }

    .chosen-container-active .chosen-single {
      border: 1px solid #AAA;
      outline: solid 3px $yellow;
      @include border-radius(0);
    }

    .chosen-with-drop .chosen-single {
      @include gradient(#e5e5e5, #fff);
      border-bottom-color: #fff;

      div b {
        background-position: 0px -33px;
      }
    }
  }
}