.search-page {
  .hmrc-search {
    .page-header {
      @media (max-width: 640px) {
        margin-top: $gutter-half;
      }
    }

    .main {
      @include heading-24;
      font-weight: bold;
    }
  }

  ul.results-list {
    list-style: none;
    padding-top: $gutter*1.5;

    @media (max-width: 640px) {
      padding-top: $gutter-two-thirds;
    }

    li {
      position: relative;
      padding: 0 0 25px;
      max-width: 32.5em;

      @media (max-width: 640px) {
        padding-bottom: $gutter-half;
      }

      &.contact {
        border: 1px solid $grey-2;
        margin-bottom: 25px;
        padding: 14px;

        @media (max-width: 640px) {
          margin-top: 0;
        }
      }
    }

    .contact-indicator {
      float: right;
      @include copy-14;
      color: $grey-1;
      padding-left: 10px;
    }

    h3 {
      @include heading-24;

      @media (max-width: 640px) {
        padding-bottom: 0;
      }

      a {
        color: $hm-revenue-customs-websafe;
        font-weight: bold;
        text-decoration: none;
        display: block;
      }
    }

    p {
      @include copy-16;
    }
  }
}