<% if contact.online_transaction_link.present? %>
  <div class="block-container clearfix online-transaction">
    <div class="block-2 block-pull-left">
      <div class="inner-block">
        <div class="group">
          <%= govspeak contact.online_transaction_description %>
        </div>
      </div>
    </div>
    <div class="block-1 block-pull-right">
      <div class="inner-block">
        <div class="group get-started">
          <%= link_to "Start now", contact.online_transaction_link, class: "big button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>