<% if contact.phone_numbers.any? %>
  <div class="block-container block-contact clearfix <% if contact.post_addresses.empty? then 'block-container-last' end %>">
    <div class="block-1">
      <div class="inner-block">
        <h3>
          Phone
        </h3>
      </div>
    </div>

    <div class="block-2">
      <%= render contact.phone_numbers %>
    </div>
  </div>
<% end %>

<% if contact.post_addresses.any? %>
  <div class="block-container block-contact clearfix <%= if contact.query_response_time == false then 'block-container-last' end %>">
    <div class="block-1">
      <div class="inner-block">
        <h3>
          Post
        </h3>
      </div>
    </div>
    <div class="block-2">
      <%= render contact.post_addresses %>
    </div>

  </div>
<% end %>

