<div class="block-container block-contact clearfix">
  <div class="block-1">
    <div class="inner-block">
      <h3>
        Offline
      </h3>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <% if contact.phone_numbers.any? %>
        <div class="block-container clearfix">
          <h3>
            Phone
          </h3>

          <div class="contact">
            <% if contact.more_info_phone_number.present? %>
              <%= govspeak contact.more_info_phone_number.to_s %>
              <br>
            <% end%>

            <%= render contact.phone_numbers %>
          </div>
        </div>
      <% end %>

      <% if contact.post_addresses.any? %>
        <div class="block-container clearfix">
          <h3>
            Post
          </h3>

          <%= render contact.post_addresses %>
        </div>
      <% end %>
    </div>
  </div>
</div>