<% page_class 'contact_groups-page' %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <div class="heading-big">
      <div class="inner-heading">
        <h1>
          <%= department.title %> Contacts
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="block-2 index-list-page organisations-index">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header js-filter-list">
        <h1 class="title">
          
        </h1>

        <form class="js-filter-form" data-remote="true">
          <label for="who-are-you-looking-for" class="label">
            What are contact details
            <br>
            for
            <input name="search[name]" placeholder="Example: Appeals">
            <input name="search[department_id]" value="<%= department.slug %>" type="hidden">
            ?
          </label>
          <span class="help-block hidden" id="working_on_filter_contacts">Working..</span>
        </form>
      </header>
    </div>
  </div>
</div>

<div class="index-list-page organisations-index">
  <div class="block">
  <div class="inner-block">
    <div class="heading-block js-filter-block">
      <header class="type-heading">
        <h1>
          Contacts
        </h1>
      </header>
      <div class="content"  id="organisations-list">
        <%= render "index" %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="js-filter-no-results">
  <p>No contacts match that filter.</p>
</div>
