<% page_class 'contact-show' %>

<header class="header-block">
  <div class="heading">
    <p class="type">Contact details</p>
    <h1><%= @contact %></h1>
  </div>

  <% if @contact.quick_links.any? %>
    <aside class="heading-extra">
      <ul class="quick-links">
        <% @contact.quick_links.each do |quick_link| %>
          <li>
            <%= link_to quick_link.title, quick_link.url %>
          </li>
        <% end %>
      </ul>
    </aside>
  <% end %>
</header>

<%= render "contact_details", contact: @contact %>

<% if @contact.query_response_time? %>
  <p class="response"><%= link_to "Find out when to expect a response to your query", "http://www.hmrc.gov.uk/tools/progress-tool/index.htm" %></p>
<% end -%>
