<tr>
  <td class="break-link"><%= link_to contact_form_link.link, contact_form_link.link %></td>
  <td>
    <%= link_to contact_form_link.title, edit_admin_contact_contact_form_link_path(contact, contact_form_link) %>
  </td>
  <td><%= contact_form_link.description %></td>
  <td class="text-right">
    <%= link_to 'Edit link', edit_admin_contact_contact_form_link_path(contact, contact_form_link), class: 'btn btn-default' %>
  </td>
</tr>
