<div class='page-header'>
  <h2>
    Contact Form links
  </h2>
 </div>

<% if contact_form_links.any? %>
  <table class='table table-striped table-hover contact-form-links-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>
          <%= link_to "+ Add contact form link", new_admin_contact_contact_form_link_path(contact), class: 'btn btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render contact_form_links %>
    </tbody>
  </table>
<% else %>
  <h4>No contact form links found</h4>
  <p>
    We have found no contact form links. <%= link_to "You should add one.", new_admin_contact_contact_form_link_path(contact) %>
  </p>
<% end %>
