<div class="address <%= 'last-child' if post_address == contact.post_addresses.last %>">
  <div class="adr org fn">
    <% if post_address.title.present? %>
      <h4>
        <%= post_address.title %>
      </h4>
    <% end %>

    <%= simple_format h(post_address.address) %>

    <% if post_address.description.present? %>
      <%= simple_format h(post_address.description) %>
    <% end %>
  </div>
</div>
