@import "govuk_admin_template";

$hover-yellow: #fff8dd;

.nav-tabs {
  .badge {
    margin-left: 3px;
    min-width: 8px;
    text-align: center;
  }
}

abbr[title],
abbr[data-original-title] {
  border: none;
}

.table {
  .break-link a {
    word-break: break-all;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .label {
    white-space: normal;
  }

  .btn {
    font-weight: normal;
  }
}

.table-hover tbody tr:hover {
  > td,
  > th {
    background: $hover-yellow;
  }
}

fieldset {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  legend {
    margin-bottom: 0;
  }
}

table {
  .date {
    width: 85px;
  }

  .changeset {
    font-size: 11px;
  }
}

.error {
  color: $state-danger-text;

  input {
    border-color: $state-danger-text;
  }
}
