@import 'govuk_admin_template';

/* variables */
$hover-yellow: #fff8dd;

/* conversion functions */

  @function em($target-px, $current-px) {
    @return $target-px * (1 / $current-px) * 1em;
  }

  @function px($value) {
    @return $value * 1px;
  }

/* end conversion functions */

.clear {
  clear: both;
  zoom: 100%;
}

.nav-tabs {
  margin-bottom: 30px;

  .badge{
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 8px;
    text-align: center;
  }
}

abbr[title],
abbr[data-original-title] {
  border: none;
}

.table {
  th, td {
    &.break-link a {
      word-break: break-all;
    }

    &.text-right {
      text-align: right;
    }

    &.text-center {
      text-align: center;
    }

    .label {
      white-space: normal;
    }

    .btn {
      font-weight: normal;
    }
  }
}

.table-hover tbody tr:hover {
  > td,
  > th {
    background: $hover-yellow;
  }
}

fieldset {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  legend {
    margin-bottom: 0;
  }
}

table {
  td.date {
    width: 85px;
  }

  td.changeset {
    font-size: 11px;
  }
}

.error {
  color: $state-danger-text;

  input {
    border-color: $state-danger-text;
  }
}
