@import "bootstrap";
@import "_colours.scss";
@import "_conditionals.scss";
@import "_typography.scss";
@import "_shims.scss";
@import "_css3.scss";
@import "_device-pixels.scss";
@import "./frontend/styleguide/_colours.scss";
@import "./frontend/vendor/_chosen.min.scss";

/* variables */
$hover-yellow: #fff8dd;

/* conversion functions */

  @function em($target-px, $current-px) {
    @return $target-px * (1 / $current-px) * 1em;
  }

  @function px($value) {
    @return $value * 1px;
  }

/* end conversion functions */

.clear {
  clear: both;
  zoom: 100%;
}

.span12 .span12 {
  margin-left: 0;
}

@include ie-lte(6) {
  .alert {
    padding-top: 4px;
  }

  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    float: left;
    min-height: 1px;
    margin-left: 20px;

    &.first-child {
      margin-left: 10px;
    }
  }

  input,
  textarea,
  select {
    &.span1,
    &.span2,
    &.span3,
    &.span4,
    &.span5,
    &.span6,
    &.span7,
    &.span8,
    &.span9,
    &.span10,
    &.span11,
    &.span12 {
      float: none;
      min-height: 1px;
      margin-left: 0px;

      &.first-child {
        margin-left: 0px;
      }
    }
  }

  .form-actions .controls {
    margin-left: 80px;

    .btn {
      width: auto;
    }
  }

  .open {
    .dropdown-toggle {
      background: transparent;
    }

    .dropdown-menu {
      display: block;
      top: 30px;
      left: 10px;

      li {
        display: inline;

        a {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 20px;
          color: #333;
          white-space: nowrap;

          &:hover {
            background: #00A19C;
            text-decoration: none;
            color: #FFF;
          }
        }
      }
    }
  }

  .page-header h2 .pull-right {
    position: relative;
    top: -30px;
  }

  .ie6-select-iframe {
    display: none;
    position: absolute;
    left: 12px;
    top: 32px;
    border: none;
  }

  .open .ie6-select-iframe {
    display: block;
  }
}

.navbar .navbar-inner {
  @include border-radius(0);

  @include ie-lte(6) {
    .nav li{
      float: left;

      a {
        display: block;
        padding: 10px 15px 10px;
      }

      &.active {
        background: transparent;

        a {
          background: #005150;
        }
      }
    }
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;

  li, a {
    font-size: em(13, 14);
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    background: transparent;
  }

  @include ie-lte(6) {
    li {
      float: left;
      margin-right: 5px;
    }
  }
}

.nav-tabs {
  .badge{
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 8px;
    text-align: center;
  }
}

a {
  text-decoration: underline;
}

abbr[title], abbr[data-original-title] {
  border: none;
}

.btn,
.nav a,
.navbar a,
.no-underline,
.no-underline a {
  text-decoration: none;
}

.label-info,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #00a19c;
}

.text-red {
  color: #c00;
}

textarea {
  width: 400px;
}

.table {
  th, td {
    &.text-right {
      text-align: right;
    }
    &.text-center {
      text-align: center;
    }

    .label {
      white-space: normal;
    }

    .btn {
      font-weight: normal;
    }
  }

  @include ie-lte(6) {
    th {
      border-top: none;
    }
  }
}

.table-hover tbody tr:hover {
  > td,
  > th {
    background: $hover-yellow;
  }
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3 {
  font-weight: normal;

  .btn {
    font-weight: normal;
  }
}

h2 {
  font-size: em(24, 14);

  small {
    margin-left: 10px;

    a {
      text-decoration: none;
    }

    .dropdown-toggle .caret {
      margin-top: 21px;

      @include ie-lte(7) {
        margin-top: 14px;
      }

      @include ie-lte(6) {
        border-color: black white white;
      }
    }

    .dropdown-menu a {
      font-size: em(13, 18);
    }
  }
}

fieldset {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  legend {
    margin-bottom: 0;

    @include ie-lte(6) {
      margin-bottom: 20px;
    }
  }
}

.control-label {
  font-weight: bold;
}

.span-preview {
  .control-label {
    width: 100px;
  }
  .controls {
    margin-left: 120px;
    margin-right: 20px;
  }

  .well {
    word-wrap: break-word;
  }
}

.form-actions {
  background: transparent;
  border: none;
  padding-left: 0;
}

.chosen-container-multi .chosen-choices {
  padding-right: 5px;

  li.search-choice {
    color: #fff;
    border: none;
    background: #00a19c;
    @include box-shadow(none);
    font-weight: bold;

    .search-choice-close {
      background-position: -42px -49px;

      &:hover {
        background-position: -42px -60px;
      }
    }
  }
}

.chosen-container .chosen-results li.highlighted {
  background: #00a19c;
}

.contact-details {
  input.span9,
  textarea.span9 {
    width: 726px;
  }
  select.span9 {
    width: 739px;
  }

  @include ie-lte(6) {
    .span6 {
      width: 480px;

      &.span-preview {
        width: 435px;
        margin-left: 0;

        .controls {
          margin-right: 0;
        }
      }
    }
  }
}

.question-page {
  .js-expand-list {
    margin-bottom: 10px;
  }

  .expand-header {
    margin: 0;
    padding: 12px 0 8px;
    padding-left: 40px;
    font-size: em(18, 14);
    line-height: 1;
    background: #f0f0f0 image-url('hmrc-contact-details-arrows.png') no-repeat left 16px;
    cursor: pointer;

    &:hover {
      background-color: $hover-yellow;
    }

    small {
      position: relative;
      top: -1px;
      font-size: em(14, 18);
    }
  }

  .expand-content {
    display: none;
    margin: 5px 10px 0;

    .empty-content {
      margin-top: 20px;
    }
  }

  .no-content {
    .expand-header {
      color: #999;
    }
  }

  .js-expanded {
    margin-bottom: 50px;

    .expand-header {
      background-position: left -36px;
    }

    .expand-content {
      display: block;
    }
  }
}