<tr>
  <td><%= contact.title %></td>
  <td><%= contact.department %></td>
  <td><%= contact.contact_record %></td>
  <td>
    <%= link_to "Edit", edit_admin_contact_path(contact), class: 'btn btn-small' %>
  </td>
</tr>
