<%= render 'edit_contact_header', contact: @contact, show_actions: true %>
<div class="well">
  <%= simple_form_for([:admin, @contact], method: :delete) do |f| %>
    <h2>Delete and redirect contact</h2>

    <fieldset>
      <label for="redirect_url">Redirect URL</label>
      <input id="redirect_url" name="redirect_url" type="text" class="input-md-6 form-control" />
    </fieldset>

    <div class="add-top-margin">
      <%= f.submit "Delete contact", id: 'contact-submit', class: 'btn btn-danger', data: { disable_with: 'Working' } %>
      <%= link_to "Cancel", admin_contacts_path, class: 'add-left-margin btn btn-default'%>
    </div>
  <% end %>
</div>
