<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>
        Edit <%= contact %>

        <%= link_to 'Delete', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small text-red pull-right' %>
      </h2>

      <%= render partial: 'contact_nav' %>
    </div>

    <%= render partial: 'form', locals: { contact: contact } %>
  </div>
</div>