<%= render 'edit_contact_header', contact: @contact %>
<%= render 'form', contact: @contact %>

<% if @contact.display_versions.size > 0 %>
  <hr />
  <h3 class="add-bottom-margin">Audit log</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="table-header">
        <th>Time</th>
        <th>User</th>
        <th>Action</th>
        <th>Changes</th>
      </tr>
    </thead>
    <%= render partial: 'admin/versions/version', collection: @contact.display_versions, as: :version %>
  </table>
<% end %>
