<% content_for :page_title, "Contacts" %>
<div class="page-title">
  <h1>Contacts</h1>
</div>

<% if @contacts.any? %>
  <%= render "search_form" %>
  <table class="table table-striped table-hover table-bordered contacts-table">
    <thead>
      <tr class="table-header">
        <% if search.organisation_id.blank? %>
          <th>Organisation</th>
        <% end %>
        <th>Title</th>
        <th>Contact Groups</th>
        <th>Description</th>
        <th>Online links</th>
        <th>Email addresses</th>
        <th>Postal addresses</th>
        <th>Phone numbers</th>
        <th>
          <%= link_to "Add contact", new_admin_contact_path, class: 'btn btn-default btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @contacts %>
    </tbody>
  </table>
<% else %>
  <h4>No contacts found</h4>
  <p>
    We have found no contacts. <%= link_to "You should add one.", new_admin_contact_path %>
  </p>
<% end %>
