<% content_for :page_title, 'Add contact' %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li class="active">Add contact</li>
</ol>

<div class="page-title">
  <h1>Add contact</h1>
</div>
<%= render 'form', contact: @contact %>
