<tr>
  <td>
    <%= link_to contact_group.title, edit_admin_contact_group_path(contact_group) %>
  </td>
  <td><%= contact_group.description %></td>
  <td><%= contact_group.contacts.size %></td>
  <td class='text-right'>
    <small>
      <%= link_to "Edit", edit_admin_contact_group_path(contact_group) %>
    </small>
  </td>
</tr>
