<div class='page-header'>
  <h2>
    Edit Contact Group
    <% if contact_group.contacts.none? %>
      <%= link_to 'Delete', admin_contact_group_path(contact_group), method: :delete, data: { confirm: 'Are you sure?' }, data: { disable: 'Working' }, class: 'btn btn-small text-red pull-right' %>
    <% end %>
  </h2>
</div>

<%= render partial: 'form', locals: { contact_group: contact_group } %>
