<% content_for :page_title, "Contact groups" %>
<div class="page-title">
  <h1>Contact groups</h1>
</div>

<% if @contact_groups.any? %>
  <table class="table table-striped table-hover table-bordered contact-groups-table">
    <thead>
      <tr class="table-header">
        <th>Organisation</th>
        <th>Title</th>
        <th>Description</th>
        <th>Contacts</th>
        <th>
          <%= link_to "Add group", new_admin_contact_group_path, class: 'btn btn-success pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @contact_groups %>
    </tbody>
  </table>
<% else %>
  <p class="no-content no-content-bordered">
    No contact groups found<br />
    <%= link_to "Add contact group", new_admin_contact_group_path %>
  </p>
<% end %>
