<div class='page-header'>
  <h2>
    Contact Groups
    <small>(<%= contact_groups.count %>)</small>
  </h2>
 </div>

<% if contact_groups.any? %>
  <table class='table table-bordered table-striped table-hover contact-groups-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Contacts count</th>
        <th>
          <%= link_to "New contact group", new_admin_contact_group_path, class: 'btn btn-small' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render contact_groups %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-block alert-info'>
    <h4>No contact groups found</h4>
    <p>
      We have found no contact groups. Add one?
      <%= link_to "Add one?", new_admin_contact_group_path, class: 'btn btn-small' %>
    </p>
  </div>
<% end %>
