<% if contact_groups.any? %>
  <table class='table table-striped table-hover contact-groups-table'>
    <colgroup>
      <col width="*"></col>
      <col width="*"></col>
      <col width="150"></col>
      <col width="200"></col>
    </colgroup>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Contacts count</th>
        <th>
          <%= link_to "+ Add contact group", new_admin_contact_group_path, class: 'btn btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render contact_groups %>
    </tbody>
  </table>
<% else %>
  <h4>No contact groups found</h4>
  <p>
    We have found no contact groups. <%= link_to "You should add one.", new_admin_contact_group_path %>
  </p>
<% end %>
