<% content_for :page_title, 'Add group' %>

<ol class="breadcrumb">
  <li><%= link_to 'Contact groups', admin_contact_groups_path  %></li>
  <li class="active">Add group</li>
</ol>

<div class='page-title'>
  <h2>Add group</h2>
</div>

<%= render partial: 'form', locals: { contact_group: @contact_group } %>
