<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>New Contact Group</h2>
    </div>

    <%= render partial: 'form', locals: { contact_group: contact_group } %>
  </div>
</div>