<tr>
  <td><%= office.title %></td>
  <td><%= office.department %></td>
  <td><%= office.contact_record %></td>
  <td>
    <%= link_to "Edit", edit_admin_office_path(office), class: 'btn btn-small' %>
  </td>
</tr>
