<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>
        Edit Office
        <%= link_to 'Delete', admin_office_path(office), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small text-red pull-right' %>
      </h2>
    </div>

    <%= render partial: 'form', locals: { office: office } %>
  </div>
</div>