<div class='page-header'>
  <h2>
    Contact Records
    <small>(<%= @contact_records.count %>)</small>
  </h2>
 </div>

<% if @contact_records.any? %>
  <table class='table table-bordered table-striped table-hover contact-records-table'>
    <thead>
      <tr>
        <th>Contacts</th>
        <th>Contact Type</th>
        <th>Description</th>
        <th>Keywords</th>
        <th>Website count</th>
        <th>Email address count</th>
        <th>Post address count</th>
        <th>Phone number count</th>
        <th>
          <%= link_to "New Contact Record", new_admin_contact_record_path, class: 'btn btn-small' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @contact_records %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-block alert-info'>
    <h4>No contact records foudn</h4>
    <p>
      We have found no contact records. Add one?
      <%= link_to "Add one?", new_admin_contact_record_path, class: 'btn btn-small' %>
    </p>
  </div>
<% end %>
