<tr>
  <td><%= question.title %></td>
  <td><%= question.office %></td>
  <td>
    <%= link_to "Edit", edit_admin_question_path(question), class: 'btn btn-small' %>
    <%= link_to "Remove", admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-small btn-danger' %>
  </td>
</tr>
