<tr>
  <td>
    <%= link_to question.title, edit_admin_question_path(question) %>
  </td>
  <td>
    <%= link_to question.contact, edit_admin_contact_path(question.contact) %>
  </td>
  <td class='text-right'>
    <small>
      <%= link_to "Edit", edit_admin_question_path(question) %>
    </small>
  </td>
</tr>
