<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>
        Edit Question
        <%= link_to "Delete", admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-small text-red pull-right' %>
      </h2>
    </div>

    <%= render partial: 'form', locals: { question: question } %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Audit log</h3>
    <table class="table table-striped">
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Action</th>
        <th>Changes</th>
      </tr>
      <%= render partial: 'admin/versions/version', collection: question.display_versions, as: :version %>
    </table>
  </div>
</div>
