<div class="row">
  <div class="span12">
    <div class='page-header'>
      <h2>
        Edit Question
        <%= link_to "Delete", admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-small text-red pull-right' %>
      </h2>
    </div>

    <%= render partial: 'form', locals: { question: question } %>
  </div>
</div>