<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>New Question</h2>
    </div>

    <%= render partial: 'form', locals: { question: question } %>
  </div>
</div>