// BASE STYLESHEET COMPILER



// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours.scss";
@import "_conditionals.scss";
@import "_typography.scss";
@import "_shims.scss";
@import "_css3.scss";
@import "_device-pixels.scss";

@import "styleguide/_dimensions.scss";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";
@import "styleguide/_colours.scss";
@import "styleguide/_button.scss";
@import "styleguide/_float-fix.scss";
@import "styleguide/_hidpi.scss";
@import "styleguide/_right-to-left.scss";

/* conversion functions */

  @function em($target-px, $current-px) {
    @return $target-px * (1 / $current-px) * 1em;
  }

  @function px($value) {
    @return $value * 1px;
  }

/* end conversion functions */


// RESET
// Flatten exising styles

@import "reset/_govuk-overrides.scss";
// overrides to the gov.uk header and footer
@import "reset/_reset.scss";
// reset styles applied to .hmrc-contacts-body & .hmrc-contacts-body *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

// HELPERS
// Styles for comment page elements
.hmrc-contacts-body {
  @import "helpers/_activity-nav.scss";
  @import "helpers/_attachment.scss";
  @import "helpers/_browse.scss";
  @import "helpers/_change-notes.scss";
  @import "helpers/_collection_list.scss";
  @import "helpers/_contextual-info.scss";
  @import "helpers/_corporate-information.scss";
  @import "helpers/_dash-list.scss";
  @import "helpers/_document.scss";
  @import "helpers/_document_footer_meta.scss";
  @import "helpers/_document_list.scss";
  @import "helpers/_documents-grid.scss";
  @import "helpers/_headings.scss";
  @import "helpers/_featured_news.scss";
  @import "helpers/_feed.scss";
  @import "helpers/_filter.scss";
  @import "helpers/_govspeak.scss";
  @import "helpers/_heading-block.scss";
  @import "helpers/_historic-people-list.scss";
  @import "helpers/_holding.scss";
  @import "helpers/_index-list.scss";
  @import "helpers/_js-list-items.scss";
  @import "helpers/_lead-image.scss";
  @import "helpers/_organisations.scss";
  @import "helpers/_organisation-news.scss";
  @import "helpers/_page-header.scss";
  @import "helpers/_pagination.scss";
  @import "helpers/_person.scss";
  @import "helpers/_recently_updated.scss";
  @import "helpers/_simple-alphabetical-list.scss";
  @import "helpers/_social-media-accounts.scss";
  @import "helpers/_stick_at_top_when_scrolling.scss";
  @import "helpers/_sub-navigation.scss";
  @import "helpers/_worldwide-organisation-header.scss";
}



// VIEWS
// Styles scoped to each template in /views

.hmrc-contacts-body {
  @import "views/_landing.scss";
  @import "views/_layouts.scss";
  @import "views/_organisations.scss";
}



// LAYOUTS
// Styles scoped to a layout. Be careful.
@import "layouts/_main.scss";