@import "bootstrap";
@import "_colours.scss";
@import "_conditionals.scss";
@import "_typography.scss";
@import "_shims.scss";
@import "_css3.scss";
@import "_device-pixels.scss";
@import "frontend/styleguide/_colours.scss";
@import "frontend/vendor/_chosen.min.scss";

/* variables */
$hover-yellow: #fff8dd;

/* conversion functions */

  @function em($target-px, $current-px) {
    @return $target-px * (1 / $current-px) * 1em;
  }

  @function px($value) {
    @return $value * 1px;
  }

/* end conversion functions */



.navbar .navbar-inner {
  @include border-radius(0);
  @include gradient(#008b8a, #00605f);

  .nav > li > a {
    color: #dde9eb;
  }

  .brand,
  .nav > li.active > a,
  .nav > li:hover > a {
    color: $white;
  }

  .nav > li.active > a {
    background: #005150;
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;

  li, a {
    font-size: em(13, 14);
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a {
  text-decoration: underline;
}

abbr[title], abbr[data-original-title] {
  border: none;
}

.btn,
.nav a,
.navbar a,
.no-underline,
.no-underline a {
  text-decoration: none;
}

.btn-primary {
  @include gradient(#007a78, #006e6f);
  background-color: #006e6f;

  &:hover, 
  &:focus, 
  &:active, 
  &.active, 
  &.disabled, 
  &[disabled] {
    background-color: #006e6f;
  }
}

.label-info,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
  background: #00a19c; 
}

.text-red {
  color: #c00;
}

textarea {
  width: 400px;
}

.table {
  th, td {
    &.text-right {
      text-align: right;
    }
    &.text-center {
      text-align: center;
    }

    .label {
      white-space: normal;
    }

    .btn {
      font-weight: normal;
    }
  }
}

.table-hover tbody tr:hover {
  > td,
  > th {
    background: $hover-yellow;
  }
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3 {
  font-weight: normal;

  .btn {
    font-weight: normal;
  }
}

h2 {
  font-size: em(24, 14);

  small {
    margin-left: 10px;

    a {
      text-decoration: none;
    }

    .dropdown-toggle .caret {
      margin-top: 21px;
    }

    .dropdown-menu a {
      font-size: em(13, 18);
    }
  }
}

fieldset {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  legend {
    margin-bottom: 0;
  }
}

.control-label {
  font-weight: bold;
}

.form-actions {
  background: transparent;
  border: none;
  padding-left: 0;
}

.chosen-container-multi .chosen-choices {
  padding-right: 5px;
  
  li.search-choice {
    color: #fff;
    border: none;
    background: #00a19c;
    @include box-shadow(none);
    font-weight: bold;

    .search-choice-close {
      background-position: -42px -49px;

      &:hover {
        background-position: -42px -60px;
      }
    }
  }
}

.chosen-container .chosen-results li.highlighted {
  background: #00a19c;
}