<div class='page-header'>
  <h2>
    Numbers for Contact Records
    <small>(<%= numbers.count %>)</small>
  </h2>
 </div>

<% if numbers.any? %>
  <table class='table table-bordered table-striped table-hover numbers-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>
          <%= link_to "New Number", new_admin_contact_record_number_path(contact_record), class: 'btn btn-small' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render numbers %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-block alert-info'>
    <h4>No numbers found</h4>
    <p>
      We have found no numbers.
      <%= link_to "Add one?", new_admin_contact_record_number_path(contact_record), class: 'btn btn-small' %>
    </p>
  </div>
<% end %>
