<div id="formatting<%= show_section if defined?(show_section) %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="fotmattingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">
          Formatting help
        </h3>
      </div>
      <div class="modal-body">
        <p>For style, see the <a href="https://www.gov.uk/designprinciples/styleguide">style guide</a>
        <h4>Links</h4>
        <pre>[link text](http://www.example.com) </pre>
        <p>For external websites, use the full URL including http://:, The link will display with an external link symbol.</p>
        <div class="row">
          <div class="col-md-6">
            <h4>Bullets</h4>
            <pre>
    * item 1
    * item 2
      * sub-item
      * another sub-item
            </pre>
          </div>
          <div class="col-md-6">
            <h4>Numbered list</h4>
            <pre>
    1. item 1
    2. item 2
      * sub-item
      * another sub-item
            </pre>
          </div>
        </div>
        <p>To indent, add 2 spaces</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Ok</button>
      </div>
    </div>
  </div>
</div>
