<p class="vcard">
  <strong class="fn">
    <%= email_address.title %>
  </strong>
  <br>
  <span class="email">
    <%= mail_to email_address.email %>
  </span>

  <% if email_address.description.present? %>
    <%= govspeak email_address.description %>
  <% end %>
</p>