<p class="vcard">
  <%= govspeak email_address.description %>
  <strong class="fn">
    <%= email_address.title %>
  </strong>
  <br>
  <span class="email">
    <%= mail_to email_address.email %>
  </span>
</p>