<li class="contact-detail">
  <p class="vcard">
    <strong class="fn">
      <%= email_address.title %>
    </strong>
    <br>
    <span>
      <%= mail_to email_address.email %>
    </span>
    <span class="email-description">
      <%= govspeak email_address.description %>
    </span>
  </p>
</li>
