<header class="page-header">
  <h1>
    <%= link_to search_path(department), class: "organisation-logo organisation-logo-stacked-#{department.slug} organisation-logo-stacked-#{department.slug}-large" do %>
      <span>
        <%= department.logo_name %>
      </span>
    <% end %>
  </h1>
</header>
