<header class="page-header">
  <h1>
    <a href="<%= "/hmrc/contact_us" %>" class="organisation-logo organisation-logo-stacked-hmrc organisation-logo-stacked-hmrc-large">
      <span>
        HM Revenue
        <br>
        &amp; Customs
      </span>
    </a>
  </h1>
</header>